@media only screen and (min-width: 768px) {

}

body {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 0 2rem;
    background-color: steelblue;
    display: flex;
    align-items: baseline;
}

.header-logo {
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
}

.header-logo h1 {
    margin: 0.1rem;
}

.header-logo a:hover {
  color: white;
}

.navigation-wrapper {
    margin-right: auto;  
}

svg:hover {
  fill:aqua;
}

.navigation-wrapper {
    font-size: 1.3rem;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

a, a.menu-item {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

.menu-item {
    padding: 0 1.5rem;
    border: white 0.5px solid;
}

.top-icon .up-icon {
    margin-right: 2rem;
}

a:hover {
    color: blanchedalmond;
}

a svg:hover {
    fill:blanchedalmond;
}

.dropdown {
    position: relative;
}

.projects-inner {
    display:flex;
    justify-content: space-around;
}

.project-card {
  border: black 1px solid;
}

main {
    margin: 0 8rem;
}

.visual-container {
    padding:2rem;
    margin: 10px;
    height:50vh;
    width: 50vw;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  left: 145px;
}
