@media only screen and (min-width: 768px) {

}

body {
    margin: 0px;
    padding: 0px;
}

/* header styles */

header {
    padding: 0 2rem;
    background-color: steelblue;
    display: flex;
    align-items: baseline;
}

.header-logo {
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
}

.header-logo h1 {
    margin: 0.1rem;
}

.header-logo a:hover {
  color: white;
}

.navigation-wrapper {
    font-size: 1.3rem;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-left: auto;  
}

a, a.menu-item {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

.project-item > a {
    color: steelblue;
}

.project-item > a:hover {
    color: black;
}

.menu-item {
    display: flex;
    position: relative;
    padding: 0.5rem 1.5rem;
    height:2rem;
}

.dropdown-menu {
    display: none;
    font-size: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown > a {
  display:flex;
}

a:hover {
    color: blanchedalmond;
}

.dropdown {
    position: relative;
}

/* main page styles */

main {
    margin: 0 8rem;
    display:flex;
    justify-content: center;
}

/* dot on canvas styles */

.visual-container {
    padding:2rem;
    margin: 10px;
    height:50vh;
    width: 50vw;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* to-do styles */

.to-do {
    width: 50vw;
    height: 50vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-container {
    display: flex;
}

/* timer styles */

.timer {
    padding:2rem 0rem;
}

.stop-watch {
    display:flex;
}

h1#time {
  margin-left: 10px;
}

/* quote generator styles */

.quote-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.quote {
    height: 2rem;
    width: 50vw;
}